@charset "UTF-8";
/* CSS Document */

body, html {
  height: 100vh; /* Use viewport height to restrict the page height */
  max-height: 100vh;
  /*overflow: hidden; /* Prevent scrolling */
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
}

.container {
  position: relative; /* Contain absolutely positioned children */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Hide overflow */
  justify-content: space-between;
}

header {
  
  position: relative; 
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw; 
  
}

.title-and-list {
	flex: 1 1 auto; /* grow, shrink, basis */
  /* Sets a max-width where 250px is an arbitrary value you can adjust */
	padding-left: 3vw;
	flex-direction: column;
}



nav ul {
  font-family: "ocr-a-std", monospace;
  font-weight: 100;
  font-size: 1.3vw;
  list-style: none;
  padding: 10;
  margin: 0;
  margin-top: 2vw; /* Adjust spacing as needed */
}

nav ul li {
  margin-bottom: 1vw;
}

nav ul li a {
  text-decoration: none;
  color: #333; /* Adjust color to match the design */
  font-weight: bold; /* If you want the links to be bold */
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #00ada7; /* Adjust hover color to match the design */
}

h1 {
  font-family: "anonymous-pro", monospace;
  font-weight: 100;
  font-size: 4.5vw;
  line-height: 0.8;
  color: #333;
}
a h1 {
  color: #333; /* Example color, use whatever is defined for your h1 */
  text-decoration: none; 
}

a:hover h1, a:focus h1 {
  color: #00ada7; /* Adjust hover color to match the design */
  text-decoration: none; /* Optional: underline on hover for emphasis */
}

.header-paragraph {
  font-family:  "anonymous-pro", monospace;
  align-items: flex-end;
  width: 64%; /* Or whatever width works with your design */
  padding: 6vw 0 0 0; /* Optional padding for spacing */
  font-size: 1.6vw;
  text-indent: 2vw
}
main {
  /*flex-grow: 1;*/
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  margin: 0 auto; /* Center the main content */
  padding: 2vw 0; /* Give some space on the top and bottom */
}

.main-content {
  display: flex;
  justify-content: space-between;
	align-items: start;
  padding: 20px;
}

.video-container {
  flex-basis: 50%; /* Adjust based on your design */
  margin-right: 20px;
  margin-left: 2vw/* Provides space between this content and the aside */
}

.video-container video {
  width: 100%; /* Makes the video responsive */
  height: auto; /* Maintains the aspect ratio */
}

.video-caption {
  width: 100%;
  text-align: center; /* Centers the caption text if desired */
  font-style: italic; /* Common style for video captions */
  padding-top: 5px; /* Adds a little space between the video and the caption */
}
.video-container, .content-text, .slideshow-container {
	flex: 1 1 0;
}
.content-text {
  width: 100%;
  flex-basis: 50%; /* Adjust based on your design */
  /* Add padding, font-sizes, etc., as needed */
}

.interview-container-desktop {
  flex: 0 0 10vw;
  flex-basis: 30%; /* Adjust based on your design */
  overflow-y: scroll; /* Enables vertical scrolling if the text is too long */
  height: 50vw; /* Fixed height, or change to a percentage based on your design */
  padding: 30px; /* Add padding to match the rest of the design */
}

.interview-container-mobile {
    display: none;  /* Hidden on mobile by default */
}

.title-and-list,
aside,
footer {
  position: relative;
  z-index: 2; /* Higher than the main content's z-index to ensure visibility */
}

.slideshow-container {
  position: relative;
  max-width: 650px; /* Maximum width of the slideshow container */
  margin: auto; /* Center the slideshow */
  overflow: hidden; /* Hide the images that are out of the container */
}

.slide {
  display: none; /* Hide the images initially */
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Display the first image by default */
.slide:first-child {
  display: block;
}

.circle-overlay {
  position: absolute;
  bottom: 1vw;
  transform: translateY(-50%);
  z-index: -1; /* Behind the content but above the background */
}

.circle-overlay {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  top: 5;
  left: 10;
  transform: translate(-50%, -50%);
}
.first-circle {
	bottom: 2vw;
    right: 5vw; /* Adjust according to design needs */
    background: radial-gradient(circle, rgba(0,173,167,0.5) 0%, rgba(0,173,167,0.5) 50%, rgba(0,0,0,0) 50%);
}

.second-circle {
    left: 10vw; 
	bottom: 10vw;/* Adjust according to design needs */
    background: radial-gradient(circle, rgba(248,155,155,0.5) 0%, rgba(248,155,155,0.5) 60%, rgba(0,0,0,0) 50%);
}


footer {
  background: #333;
  color: #fff;
  padding: .5vw;
  text-align: center;
  flex-shrink: 0; /* Prevent footer from shrinking */
  width: 100%;
}


/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  
  header, footer {
    flex-direction: column;
  }


	h1{
		font-size: 7vw;
	}
  nav ul {
		font-size: 2vw;
	}
	
  nav ul li {
    margin-bottom: 2em; /* Increases space between list items */
    font-size: 1.2em; /* Optionally increase the font size if needed */
  }
.interview-container-desktop {
        display: none;  /* Hide desktop interview container on mobile */
    }

    .interview-container-mobile {
        display: block;  /* Show mobile interview container on mobile */
        order: 3;  /* Position it where needed */
        width: 100%;  /* Full width for better mobile display */
        margin-top: 20px;  /* Space above the container for clarity */
    }
  
	.header-paragraph{
		width: 80%;
		text-align: center;
		font-size: 2.3vw;
		align-items: center;
	}
  
	
	}
 .main-content {
        flex-direction: column;
    }

.video-container, .interview-container {
        width: 100%;  
        margin-right: 0; 
    }

.interview-container {
        order: 2;  
        margin-top: 20px;  
    }


  .experiment {
    font-size: 3.5vw;
  }


  

}