@charset "UTF-8";
/* CSS Document */

body, html {
  height: 100vh; 
  max-height: 100vh;
  /*overflow: hidden;*/
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; 
  justify-content: space-between;
}

header {
  
  position: relative; 
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw; 
  
}

.title-and-list {
	flex: 1 1 auto;
	padding-left: 3vw;
	flex-direction: column;
}



nav ul {
  font-family: "ocr-a-std", monospace;
  font-weight: 100;
  font-size: 1.3vw;
  list-style: none;
  padding: 10;
  margin: 0;
  margin-top: 2vw; 
}

nav ul li {
  margin-bottom: 1vw;
}

nav ul li a {
  text-decoration: none;
  color: #333; 
  font-weight: bold; 
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #00ada7; 
}

h1 {
  font-family: "anonymous-pro", monospace;
  font-weight: 100;
  font-size: 4.5vw;
  line-height: 0.8;
  color: #333;
}
a h1 {
  color: #333; 
  text-decoration: none; 
}

a:hover h1, a:focus h1 {
  color: #00ada7; 
  text-decoration: none; 
}

.header-paragraph {
  font-family:  "anonymous-pro", monospace;
  align-items: flex-end;
  width: 64%; 
  padding: 6vw 0 0 0; 
  font-size: 1.6vw;
  text-indent: 2vw
}
main {
  /*flex-grow: 1;*/
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  margin: 0 auto; 
  padding: 2vw 0; 
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
	
}

.video-container {
  flex-basis: 50%; 
  margin-right: 20px;
  margin-left: 2vw;
}

.video-container video {
  width: 100%; 
  height: auto; 
}

.video-caption {
  font-family: "ocr-a-std", monospace;
  font-size: 1.2vw;
  width: 100%;
  text-align: center;
  font-style: italic;
  padding-top: 1vw; 
  padding-bottom: 1vw;
}
.video-container, .content-text, .slideshow-container {
	flex: 1 1 0;
}
.content-text {
  font-family: "anonymous-pro", monospace;
  width: 100%;
  flex-basis: 50%; 
	text-indent: 2vw;
	padding: 1vw;
	margin-right: 5vw;
}

.interview-container {
font-family: "anonymous-pro", monospace;
  flex: 0 0 10vw;
  flex-basis: 30%; 
  overflow-y: scroll; 
  height: 50vw; 
  padding: 20px; 
  text-indent: 2vw;
}
.title-and-list,
aside,
footer {
  position: relative;
  z-index: 2; 
}

.slideshow-container {
  position: relative;
  max-width: 65vw; 
  margin: auto; 
  overflow: hidden; 
  object-position: center;
  padding: 1vw;
}

.slide {
  display: none; 
  height: 30vw;
  object-fit: cover;
  object-position: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.slide:first-child {
  display: block;
}

.circle-overlay {
  position: absolute;
  bottom: 1vw;
  transform: translateY(-50%);
  z-index: -1; 
}

.circle-overlay {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  top: 5;
  left: 10;
  transform: translate(-50%, -50%);
}
.first-circle {
	bottom: 2vw;
    right: 5vw; 
    background: radial-gradient(circle, rgba(0,173,167,0.5) 0%, rgba(0,173,167,0.5) 50%, rgba(0,0,0,0) 50%);
}

.second-circle {
    left: 10vw; 
	bottom: 10vw;
    background: radial-gradient(circle, rgba(248,155,155,0.5) 0%, rgba(248,155,155,0.5) 60%, rgba(0,0,0,0) 50%);
}


footer {
  font-family: "anonymous-pro", monospace;
  background: #333;
  color: #fff;
  padding: .5vw;
  text-align: center;
  flex-shrink: 0; 
  width: 100%;
}


/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  
	@media (max-width: 768px) {
  header, footer {
    flex-direction: column;
  }


	h1{
		font-size: 7vw;
	}
  nav ul {
		font-size: 2vw;
	}
	
  nav ul li {
    margin-bottom: 2em; 
    font-size: 1.2em; 
  }

  
	.header-paragraph{
		width: 80%;
		text-align: center;
		font-size: 2.3vw;
		align-items: center;
	}
  
	
	}
 .main-content {
        flex-direction: column;
    }

.video-container, .interview-container {
        width: 100%;  
        margin-right: 0; 
    }

.interview-container {
        order: 2;  
        margin-top: 20px;  
    }


  .experiment {
    font-size: 3.5vw;
  }


  

}